<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>764839469158-2o87c2hbguj8iqrafp9orp4e7b13b98o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.764839469158-2o87c2hbguj8iqrafp9orp4e7b13b98o</string>
	<key>API_KEY</key>
	<string>AIzaSyANtIgeDF13ar_20Jy1D0X4v7uMZR8HF_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>764839469158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hopepoint.hopeapp</string>
	<key>PROJECT_ID</key>
	<string>hopepoints1</string>
	<key>STORAGE_BUCKET</key>
	<string>hopepoints1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:764839469158:ios:81e94975cb79133c854da7</string>
</dict>
</plist>